body, html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff; /* Adjust as needed */
}

.entrance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #000000;
}

p {
    font-size: 1.2em;
    margin-bottom: 2em;
    color: #000000;
}

#enter-btn {
    padding: 10px 20px;
    font-size: 24px;
    background-color: rgb(187, 241, 150);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#enter-btn:hover {
    background-color: #555;
}

.entrance-image {
    width: 25%; /* Adjust this value to change the width */
    height: auto; /* Adjust this value to change the height */
    object-fit: cover; /* This ensures the image covers the area without distortion */
    border-radius: 30%; /* This creates a circular image; adjust for less rounded corners */
    margin-bottom: 20px; /* Adds some space below the image */
}
